<!-- start custom footer snippets -->
<section class="triumph">
  <div class="container">
      <div class="row  d-flex justify-content-between align-items-center">
  <div class="contact"><span>#</span> <a href="#" title="Contact Triumph"> Contact Triumph </a> </div>
  <div class="logo"><a href="#" title="Triumph"><img src="/assets/images/triumph-logo.png" alt="Triumph"> </a></div>
  <div class="visit"><a href="#" title="Visit Triumph">Visit Triumph</a> <span>$</span></div>
  </div>
      </div>
</section>
<!-- end custom footer snippets -->
