<!-- start custom footer snippets -->
<section class="triumph">
  <div class="container">
      <div class="row  d-flex justify-content-between align-items-center">
  <div class="contact"><span class="e-icon">#</span> <a href="mailto:centralres@triumphny.com" title="Contact Triumph"> Contact Triumph </a> </div>
  <div class="logo"><a class="f-logo" href="#" title="Triumph"><img src="/assets/images/triumph-logo.svg" alt="Triumph" class="img-fluid"> </a></div>
  <div class="visit"><a href="http://www.triumphhotels.com/" target="_blank" title="Visit Triumph">Visit Triumph</a> <span class="e-icon">$</span></div>
  </div>
      </div>
</section>
<!-- end custom footer snippets -->
