---
layout: default
title: "About"
description: "Come join us at one of our events."
permalink: /about/
---

<section>
  <div class="inner-banner" style="background-image: url('/assets/images/about/about-banner.jpg')">
   </div>
</section>

<section class="heading-section">
  <div class="heading-inner">
    <div class="heading">
      <h6>About</h6>
      <h1>The Frederick Hotel</h1>
     
  </div>
  </div>
</section>

<section class="whyus">
      <div class="container">
        <p class="heading"> A Tribeca Boutique Hotel <br/> in New York City</p>
       
      </div>
      <div class="why-pic">
       <img src="/assets/images/about/bead-room.jpg" alt="bed room" class="img-fluid">
       </div>
      <div class="why-content">
        <p>With its gems hidden behind a historic corner, vibrant art and nightlife. Tribeca is where you want to be in New York City - and so is The Frederick.  Thoughtfully-designed, The Frederick mixes vintage styles - like Mid-Century Modern and Art Nouveau - with turn-of-the-century and minimalist accents for a look as eclectic as the hotel itself. Here Intriguing people, artful cocktails, and luxurious accommodations mingle for an experience that can’t be found anywhere else. 
         
        </p>
        <div class="btn-holder">
          <a href="/contact/" title="Contact us" class="btn btn-2-cta">CONTACT US</a>
        </div>
        <div class="btn-holder">
            <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book now" class="btn btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
      </div>
</section>

<section class="amenites">
<div class="row">
      <div class="amienites-pic">
       <img src="/assets/images/about/amenities.jpg" alt="amenities" class="img-fluid">
       </div>
      <div class="amienites-list">
        <h2>Room Amenities</h2>
        <ul>
        <li>Art Nouveau-inspired custom walnut paneling</li>
        <li>Mahogany closets</li>
        <li>Blackout curtains</li>
        <li>Soundproof windows</li>
        <li>Custom headboards with outlets and USB chargers</li>
        <li>Triumph Hotels Private Label mattresses by Sealy</li>
        <li>Frette linens, towels, and robes</li>
        <li>Down comforters</li>
        <li>Custom, tiled bathrooms with turn-of-the-century accents</li>
        <li>Marble-lined bathtubs</li>
        <li>Complimentary WiFi and ethernet</li>
        </ul>
       <div class="btn-holder">
       <a href="/contact/" title="contact us " class="btn btn-2-cta">contact us </a>
       </div>
       <div class="btn-holder">
          <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3" title="Book Now"  target="_blank" class="btn btn-blue">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
      </div>
      </div>
</section>

<section class="history">
  <div class="first-pic">
  <img src="/assets/images/about/history-1.jpg" alt="map">
  <h2>About The Frederick</h2>
  <h6>A Historic Tribeca Hotel</h6>
  <p>One of the longest-running historic hotels in Tribeca, The Frederick was built in 1838 in the Gothic Revival style, with some Italianate details added soon after. With many of these details still intact, The Frederick is able to express its history while still leaving room for stylish reinvention.</p>
  <div class="btn-holder">
    <a href="/contact/" title="contact us " class="btn btn-2-cta cat-white">contact us </a>
    </div>
  <div class="btn-holder">
      <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </div>
</div>

  <div class="middle-pic">
  <img src="/assets/images/about/history-2.jpg" class="img-fluid" alt="map">
  </div>
  <div class="last-pic">
  <img src="/assets/images/about/history-3.jpg" class="img-fluid" alt="map">
  </div>
</section>

<section class="old-newyork">
   <img src="/assets/images/about/old-pic.jpg" alt="Old new york city " >
</section>

  <section class="book-now-sec" style="background-image:url(/assets/images/about/nyc-bg.jpg);">
      
          <div class="inner-content">
          <h5>THE FREDERICK<br>HOTEL</h5>
            <div class="fr-logo"><a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" /></a></div>
            <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
            <div class="btn-holder">
  <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
          </div>
        </section>
{% include exclusive-offers.html %}
{% include instagram.html%}
