---
layout: default
title: "Boutique Hotel in Tribeca, NYC | About the Frederick Hotel"
excerpt: With gems hidden behind historic corners, vibrant art and nightlife, Tribeca is where you want to be in New York City - and so is The Frederick.
permalink: /about/
---

<section>
  <div class="inner-banner" style="background-image: url('/assets/images/about/about-banner.jpg')">
   </div>
</section>

<section class="heading-section">
  <div class="heading-inner">
    <div class="heading">
      {% regionblock about_heading_1,  type:header %}
        <h6>About</h6>
      {% endregionblock %}

      {% regionblock about_heading_2,  type:header %}
        <h1>The Frederick Hotel</h1>
      {% endregionblock %}
     
  </div>
  </div>
</section>

<section class="whyus">
      <div class="container">
        {% regionblock why_heading,  type:header %}
         <p class="heading"> A Tribeca Boutique Hotel <br/> in New York City</p>
        {% endregionblock %}
       
      </div>
      <div class="why-pic">
        {% regionblock why_pic_1,  type:image %}
          <img src="/assets/images/about/bead-room.jpg" alt="bed room" class="img-fluid">
        {% endregionblock %}
       </div>
      <div class="why-content">
        {% regionblock why_content,  type:text %}
        <p>With gems hidden behind historic corners, vibrant art and nightlife, Tribeca is where you want to be in New York City - and so is The Frederick. Thoughtfully-designed, The Frederick Hotel mixes vintage styles - like Mid-Century Modern and Art Nouveau - with turn-of-the-century and minimalist accents for a look as eclectic as the hotel itself. Here intriguing people, artful cocktails, and luxurious accommodations mingle for an experience that can’t be found anywhere else.</p>
        {% endregionblock %}
        <div class="btn-holder">
          {% regionblock why_contact_link_1,  type:text %}
           <a href="/contact/" title="Contact us" class="btn btn-2-cta">CONTACT US</a>
          {% endregionblock %}
        </div>
        <div class="btn-holder">
            {% regionblock why_contact_link_2,  type:text %}
            <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book now" class="btn btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endregionblock %}
      </div>
      </div>
</section>

<section class="amenites">
<div class="row">
      <div class="amienites-pic">
        {% regionblock amenites_pic_1,  type:image %}
          <img src="/assets/images/about/amenities.jpg" alt="amenities" class="img-fluid">
        {% endregionblock %}
       </div>
      <div class="amienites-list">
        {% regionblock amenites_list_heading, type:header %}
        <h2>Amenities</h2>
        {% endregionblock %}

        {% regionblock amenites_list,  type:text %}
        <ul>
        <li>Complimentary Wi-Fi throughout the hotel</li>
        <li>Frette linens</li>
        <li>In-room safes</li>
        <li>Alarm clock</li>
        <li>Concierge services</li>
        <li>Valet parking</li>
        <li>Valet laundry</li>
        <li>24-hour fitness room</li>
        <li>C.O. Bigelow bath amenities</li>
        <li>Pay per view</li>
        <li>HD Channels</li>
        <li>Complimentary New York Times newspapers</li>
        <li>Serafina, Starbucks and Pret A Manger on premises</li>
        </ul>
        {% endregionblock %}
       <div class="btn-holder">
       {% regionblock amenites_lnik_1,  type:text %}
       <a href="/contact/" title="contact us " class="btn btn-2-cta">contact us </a>
       {% endregionblock %}
       </div>
       <div class="btn-holder">
          {% regionblock amenites_lnik_2,  type:text %}
          <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3" title="Book Now"  target="_blank" class="btn btn-blue">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          {% endregionblock %}
      </div>
      </div>
      </div>
</section>

<section class="history">
  <div class="first-pic">
  {% regionblock histroy_pic_1,  type:image %}
  <img src="/assets/images/about/history-1.jpg" alt="historic hotels in Tribeca ">
  {% endregionblock %}

  {% regionblock history_heading_1,  type:header %}
  <h2>About The Frederick</h2>
  {% endregionblock %}

  {% regionblock history_heading_2,  type:header %}
  <h6>A Historic Tribeca Hotel</h6>
  {% endregionblock %}

  {% regionblock history_content,  type:text %}
  <p>One of the longest-running historic hotels in Tribeca, The Frederick was built in 1838 in the Gothic Revival style, with some Italianate details added soon after. With many of these details still intact, The Frederick is able to express its history while still leaving room for stylish reinvention.</p>
  {% endregionblock %}

  <div class="btn-holder">
    {% regionblock history_lnik_1,  type:text %}
    <a href="/contact/" title="contact us " class="btn btn-2-cta cat-white">contact us </a>
    {% endregionblock %}
    </div>
  <div class="btn-holder">
      {% regionblock history_lnik_2,  type:text %}
      <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      {% endregionblock %}
  </div>
</div>

  <div class="middle-pic">
  {% regionblock history_pic_2,  type:image %}
  <img src="/assets/images/about/history-2.jpg" class="img-fluid" alt="Historic hotels in Tribeca">
  {% endregionblock %}
  </div>
  <div class="last-pic">
  {% regionblock history_pic_3,  type:image %}  
  <img src="/assets/images/about/history-3.jpg" class="img-fluid" alt="Historic hotels in Tribeca">
  {% endregionblock %}
  </div>
</section>

<section class="old-newyork">
  {% regionblock history_pic_4,  type:image %}
   <img src="/assets/images/about/old-pic.jpg" alt="Old new york city " >
   {% endregionblock %}
</section>

  <section class="book-now-sec" style="background-image:url(/assets/images/about/nyc-bg.jpg);">
      
          <div class="inner-content">
          {% regionblock frederick_heading,  type:header %}
          <h5>THE FREDERICK<br>HOTEL</h5>
          {% endregionblock %}

            <div class="fr-logo">
            {% regionblock about_frederick_logo,  type:image %}
              <a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" />
            </a>
            {% endregionblock %}
            </div>
            {% regionblock frederick_heading_1,  type:header %}
            <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
            {% endregionblock %}
            <div class="btn-holder">
            {% regionblock frederick_booking_link,  type:text %}
            <a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3"  target="_blank" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            {% endregionblock %}
</div>
          </div>
        </section>
{% include exclusive-offers.html %}
{% include instagram.html%}
