---
layout: default
title: "About"
description: "Come join us at one of our events."
permalink: /about/
---

<section>
  <div class="inner-banner" style="background-image: url('/assets/images/about/about-banner.jpg')">
   </div>
</section>

<section class="heading-section">
  <div class="heading-inner">
    <div class="heading">
      <h6>Our Hotel</h6>
      <h1>About the<br>Frederick Hotel</h1>
      <a href="#" title="Book now" class="btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>

<section class="whyus">
      <div class="col-md-12">
        <p class="heading">  WHY CHOOSE OR TRIBECA <br>HOTEL IN LOWER MANHATTAN?</p>
       
      </div>
      <div class="col-md-5">
       <img src="/assets/images/about/bead-room.jpg" alt="bed room" class="img-fluid">
       </div>
      <div class="col-md-7">
        <p>The Frederick Hotel has a storied past and a vibrant future. As timeless as Tribeca, The Frederick remains a desirable destination for visitors to the city that never sleeps. Our hotel in Lower Manhattan puts you in the heart of downtown.</p>

        <p>Our historic TriBeCa hotel in NYC is known for providing exceptional service, comfortable accommodations, and luxurious amenities in a classic downtown atmosphere. Each of the rooms at our downtown Manhattan hotel are well-equipped with modern amenities such as complimentary Wi-Fi, iPod docks, and HDTVs and our ideal location in Tribeca is perfect for business and leisure travelers alike.</p>
      </div>
</section>

<section class="amenites">
<div class="row">
      <div class="amienites-pic">
       <img src="/assets/images/about/amenities.jpg" alt="amenities" class="img-fluid">
       </div>
      <div class="amienites-list">
        <h2>AMENITIES</h2>
       <ul>
        <li>Turn of the Century décor with modern amenities</li>
        <li> Turn of the Century décor with modern amenities</li>
        <li> Marble trimmed tubs</li>
        <li> Mahogany closets</li>
        <li> Custom tile bathrooms with signature downtown map</li>
        <li> Italian Carrera marble bathroom countertops</li>
        <li> Triumph Hotels Private Label mattresses by Sealy</li>
        <li> Rooms designed with custom made furnishings</li>
        <li> Walnut wood doors</li>
       </ul>
       <a href="/rooms/" title="contact us " class="">contact us </a><br>
       <a href="/rooms/" title="Book Now" class="btn-blue">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
      </div>
</section>

<section class="history">
  <div class="first-pic">
  <img src="/assets/images/about/history-1.jpg" alt="map">
  <h2>Since 1838</h2>
  <h6>AN EXTRAORDINARY EXAMPLE OF<br>A HISTORIC HOTEL IN TRIBECA</h6>
  <p>One of the longest running historic hotels in TriBeCa, the Frederick Hotel was originally built in 1838 as a Gothic Revival structure with an additional building added in 1852, designed in an Italianate style. The Girard House as it was originally named became known as one of the city's finest establishments of its kind. </p>
  </div>

  <div class="middle-pic">
  <img src="/assets/images/about/history-2.jpg" alt="map">
  </div>
  <div class="last-pic">
  <img src="/assets/images/about/history-3.jpg" alt="map">
  </div>
</section>

<section class="old-newyork">
   <img src="/assets/images/about/old-pic.jpg" alt="Old new york city " >
</section>

  <section class="book-now-sec" style="background-image:url(/assets/images/about/nyc-bg.jpg);">
      
          <div class="inner-content">
          <h5>THE FREDERICK<br>HOTEL</h5>
            <div class="fr-logo"><a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" /></a></div>
            <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
            <div class="btn-holder">
  <a href="/rooms/" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
          </div>
        </section>
{% include exclusive-offers.html %}
{% include instagram.html%}
