---
layout: default
title: "Exclusive Book-Direct Only Deal"
description: "Hurry, save up to 30% plus get a free $25 American Express card every night you stay."
bodyclass: best-deal
permalink: /best-deal/
meta_tags:
  robots: noindex, nofollow
---

<section>
  <div class="inner-banner " style="background-image: url('https://cdn.traveltripper.io/site-assets/414_720_7109/media/2017-09-13-184932/breakfast-on-the-go.jpg')"></div>
</section>

<main class="content">

  <div class="heading">

    {% regionblock page_header, type: header %}
      <h1>YOU'VE FOUND OUR EXCLUSIVE BOOK-DIRECT ONLY DEAL!</h1>
    {% endregionblock %}

    <div class="btn-holder">
      <a href="/contact/" title="Contact" class="btn btn-2-cta">CONTACT US</a>
    </div>

    <br>

    <div class="btn-holder">
      <a href="https://gc.synxis.com/rez.aspx?Hotel=16065&Chain=16087&promo=RETARGET" title="Book now" class="btn btn-blue" target="_blank">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>

  </div>

  {% regionblock page_subheader, type: header %}
    <h2>HURRY, SAVE UP TO 30% PLUS GET UP TO $200 FREE FOR YOUR STAY</h2>
  {% endregionblock %}

  {% regionblock page_content, type: text %}
    <p>This is the <strong>absolute lowest price</strong> you will pay anywhere on the internet and is exclusively available <strong>only on our website</strong>. You will not find this deal on any price comparison site and you can only book it using the link below.</p>

    <p>But Hurry - this is a strictly limited time offer, and it may be withdrawn with no notice, so be quick and book now before this offer expires. By securing the lowest price for your trip to Tribeca, you will receive the following benefits:</p>

    <ul>
      <li>A <strong>Huge Up to 30% off</strong> ANY of our rooms</li>
      <li>Plus receive $25 American Express card every night of your stay, up to <strong>$200 Free per stay</strong> - perfect for shopping.</li>
    </ul>

    <p style="font-size: 22px; font-family:'Courier W01 Medium';"><span>Remember that this special includes all these amenities for <strong>FREE</strong></span>.</p>

    <ul>
      <li><strong>FREE</strong> premium, high-speed, wireless internet for all your devices</li>
      <li><strong>FREE</strong> unlimited 24-hour access to our comprehensive and modern fitness facility</li>
      <li><strong>FREE</strong> access to our 24-hour business center that offers FREE boarding pass printing - perfect for the last minute check out</li>
      <li><strong>FREE</strong> guided walking tours – the perfect way to explore New York</li>
      <li><strong>FREE</strong> New York Times newspaper to start your morning</li>
    </ul>
  {% endregionblock %}

</main>

<section class="book-now-sec" style="background-image:url('/assets/images/specials/specials-booknow.jpg');">
  <div class="inner-content">
    <h5>THE FREDERICK<br>HOTEL</h5>
    <div class="fr-logo"><a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" /></a></div>
    <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
    <div class="btn-holder">
      <a href="/rooms/" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
  </div>
</section>

{% include exclusive-offers.html %}
{% include instagram.html %}
