---
layout: default
title: "Contact Details | The Frederick Hotel in Tribeca, New York"
excerpt: Get in touch with The Frederick Hotel at 95 West Broadway, New York, NY 10007. Email on info@triumphny.com or contact us direct through our website here.
permalink: /contact/
---

<section>
  <div class="inner-banner" style="background-image: url('/assets/images/hotel-hero-photo.jpg')">
   </div>
</section>

<section class="heading-section">
  <div class="heading-inner">
    <div class="heading">
      <h6>Contact us</h6>
      <h1>Have a question?</h1>
  </div>
  </div>
</section>
<section class="contact ">
        <div class="contact-wrapper">

                <div class="address">
                        <h2>THE FREDERICK HOTEL</h2>

                        <p>95 West Broadway,<br> New York, NY 10007</p>
                        <p><strong>GENERAL INQUIRIES</strong> <a href="mailto:info@triumphny.com" title="GENERAL INQUIRIES">info@triumphny.com</a>
                        <p> <strong>PRESS INQUIRIES </strong> <a href="mailto:press@triumphny.com"  title="PRESS INQUIRIES">press@triumphny.com</a></p>
                       
                </div>
                <div class="contact-form">
                       
            {% include forms/jotform/contact.html %}
            <div>
        </div>
</section>
{% include instagram.html %}
