---
title_localized:
  en: The Frederick Hotel
excerpt: The Frederick Hotel
label_localized:
  en: 
layout_localized:
  en: default
permalink_localized:
  en: /dining/
meta_description_localized:
  en: The Frederick Hotel
meta_keywords_localized:
  en:
parent: dining
---

<div class="inner-page-banner bg-image-cover" style="background-image:url('/assets/images/dining/dining-banner.jpg');"></div>

<section class="page-intro-headline">
    <div class="container-fluid">
      <h3>A CLASSIC NYC</h3>
      <h1>SERAFINA<br>TRIBECA</h1>
    </div>
</section>

<section class="page-intro">
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-6 p-0">
        <div class="left-content">
          <p>Serafina TriBeCa, located on the ground floor of The Frederick Hotel, opened in July 2017 and upholds its tradition of providing guests with authentic Italian fare set within an upbeat and energetic atmosphere. Serafina TriBeCa serves brunch, lunch, dinner and take out daily. This fall, the restaurant will be open for breakfast and will provide room service to guests of The Frederick.</p>
          <a href="" class="btn btn-3-cta">View Menu</a>
        </div>
      </div>
      <div class="col-md-6 p-0">
          <div class="logo-wrap">
              <a href="" target="_blank"><img src="/assets/images/dining/serafina-logo.png" alt="Serafina TriBeCa"></a>
          </div>
      </div>
    </div>
      <div class="second-row">
      <div class="col-md-6 p-0">
        <div class="second-row-left">
          <div class="left-image">
              <img src="/assets/images/dining/serafina-dish.jpg" alt="Serafina TriBeCa">
              <span>Caption 01</span>
            </div>
            <div class="btn-holder"><a href="" class="btn btn-blue">View Reservations <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
        </div>
      </div>
      <div class="col-md-6 p-0">
          <div class="right-content">
              <p>The Serafina TriBeCa menu includes a selection of various homemade pastas, salads, and main dishes including a Filet Mignon Burger, with gorgonzola cheese and caramelized onions; Filet of Bass Al Pinot Grigio, wrapped in thin sliced potatoes on a bed of zucchini and leeks; Serafina’s legendary Tartufo Nero Pizza with hand selected Italian gourmet black truffles.</p>
              <p>The restaurant features custom paintings from artist Pato Paez. Brightly colored art from Paez can be found throughout the space as well as a message of love displayed on the main dining room wall.</p>
              <div class="two-colo-img">
                <img src="/assets/images/dining/serafina-drink.png" alt="Serafina TriBeCa Drinks">
              </div>
            </div>
            
      </div>
      </div>
    </div>
  </section>
  
  <section class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="content">
          <h2>OTHER<br>LOCATIONS</h2>
          <h6>STARBUCKS and PRET<br>A MANGER</h6>
        </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
            <div class="image-content">
                <img src="/assets/images/dining/other-restaurants-2.jpg" alt="Other Restaurants">
              </div>
            </div>
            <div class="col-md-6">
                <div class="image-content">
                    <img src="/assets/images/dining/other-restaurants-1.jpg" alt="Other Restaurants">
                </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>

  <section class="book-now-sec" style="background-image:url(/assets/images/dining/dining-cta.jpg);">
    
        <div class="inner-content">
        <h5>THE FREDERICK<br>HOTEL</h5>
          <div class="fr-logo"><a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" /></a></div>
          <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
          <div class="btn-holder">
<a href="/rooms/" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
        </div>
      </section>

      {% include exclusive-offers.html %}
      {% include instagram.html%}