---
layout: default
title: "Location"
permalink: /location/
---

<section>
  <div class="inner-banner " style="background-image: url('/assets/images/location/location-banner.jpg')">
   </div>
</section>

<section class="location">
    <div class="description">
    <h5>Tribeca NYC</h5>
    <h2>It’s All Happening Here</h2>
    <p>With gems hidden behind historic corners, vibrant art and nightlife. Tribeca is where you want to be in New York City - and so is The Frederick. Here intriguing people, artful cocktails, and luxurious accommodations mix and mingle for an experience that can’t be found anywhere else.</p>
    <div class="btn-holder">
      <a href="" title="GET HOTEL DIRECTIONS"  class="btn btn-2-cta">GET HOTEL DIRECTIONS</a>
    </div>
    </div>
    <div class="photo">
      <figure><img src="/assets/images/location/location-1.jpg" class="img-fluid" alt="City View"/></figure>
      <figcaption><em>Tribeca's gateway to Brooklyn</em></figcaption>
    </div>
</section>

<section class="location-address">
    <div class="photo">
    <div class="group-img">
    <div class="p1">
    <figure><img src="/assets/images/location/location-2.jpg" class="img-fluid" alt="City View"/></figure>
    </div>
    <div class="p2">
      <figure><img src="/assets/images/location/location-3.jpg" class="img-fluid" alt="City View"/></figure>
    </div>
    </div>
    </div>
    <div class="address">
    <h5 >Get in Touch</h5>

    <ul>
      <li class="icon-add">95 West Broadway, <br>New York, NY 10007<hr></li>
      <li class="icon-tell">
        <a href="tel:212.566.1900" title="Contact Number">(212) 566-1900</a><br><a href="tel:888.895.9400" title="Contact Number">888-895-9400</a>
        <hr>
      </li>
      <li class="icon-email">
        <a href="mailto:Info@thefrederickNYC.com" title="Email">Info@thefrederickNYC.com</a>
  

      </li>
    </ul>
    </div>
</section>

<section class="gradient mapview" data-mapfor="attractions">
    <div class="map-gray">
      {% include map-section.html %}

    <div class="attraction-info">
      <div class="attraction-img">
        <figure>
          <img src="/assets/images/location/location-4.jpg" class="img-fluid" alt="Attraction" />
        </figure>
        <figcaption><em>National September 11 Memorial & Museum<br>Phone: (212) 312-8800</em></figcaption>
      </div>
      <div class=" attraction-list">
        <ul>
          <li><a href="/" onclick="actionMarkers(1); return false;" title="National September 11 Memorial and Museum" class="active"><span>National September 11 Memorial and Museum</span> </a></li>
          <li><a href="/"  onclick="actionMarkers(7); return false;" title=" Wall Street Stock Exchange"><span> Wall Street Stock Exchange</span></a></li>
          <li><a href="/"  onclick="actionMarkers(8); return false;"  title=" Trinity Church"><span> Trinity Church</span></a></li>
          <li><a href="/"  onclick="actionMarkers(9); return false;"  title="Brooklyn Bridge"><span>Brooklyn Bridge</span></a></li>
          <li><a href="/"  onclick="actionMarkers(10); return false;"  title="New York Transit Museum Annex"><span> South Street Seaport Museum</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="walking-tours">
    <div class="walking-info">
      <h2>The Insider’s Tribeca</h2>
      <h5>Complimentary NYC Walking Tours</h5>
      <figure>
        <img src="/assets/images/location/location-6.jpg" class="img-fluid" alt="Walking Tours">
      </figure>
      <p>Let The Frederick and Streetwise show you around the neighborhood. See our favorite hidden gems and get the best local tips during our complimentary walking tours. After all, the city is better when you know someone. And now you do.</p>
     
      <div class="btn-holder">
      <a href="/"  title="View schedule" class="btn btn-2-cta"> View schedule</a>
      </div>
      <div class="btn-holder">
        <a href="/"  title="Book  tour" class="btn btn-blue">Book  tour <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="walking-slider">
      <div id="walking-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 1</p>
          </div>
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 2</p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 3</p>
          </div>
          </div> -->
        </div>
          <!-- <a class="carousel-control-prev" href="#walking-slider"  role="button" data-slide="prev" title="Preview">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <a class="carousel-control-next" href="#walking-slider" role="button" data-slide="next" title="Next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a> -->
      </div>
    </div>
</section>
<section class="exprence-nyc bg-center-center bg-cover  bg-norepeat" style="background-image:url(/assets/images/location/location-8.jpg);">
<h3>THE TRIBECA<br>Experience
  </h3>
<div class="btn-holder">
<a href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087&shell=GCF3" class="btn btn-blue" title="BookNow" >Book Now <i class="fa fa-angle-right"></i></a>
</div>
</section>


{% include exclusive-offers.html %}
{% include instagram.html %}
