---
layout: default
title: "location"
description: "Come join us at one of our events."
permalink: /location/
---

<section>
  <div class="inner-banner " style="background-image: url('/assets/images/location/location-banner.jpg')">
   </div>
</section>

<section class="location">
    <div class="description">
    <h5>Explore the City</h5>
    <h2>Proximity at<br>its best</h2>
    <p>The Hotel Edison is located in the middle of Times Square -- a magnetic, effervescent area that caters to locals and visitors alike with its diverse shopping, world-class theatre, and impressive architecture. Within walking distance of our hotel near Times Square, you'll discover leading art museums, famous restaurants, unique bars and an array of family-friendly activities.</p>
    <div class="btn-holder">
      <a href="" title="GET HOTEL DIRECTIONS"  class="btn btn-2-cta">GET HOTEL DIRECTIONS</a>
    </div>
    </div>
    <div class="photo">
      <figure><img src="/assets/images/location/location-1.jpg" alt="City View"/></figure>
      <figcaption><em>caption</em></figcaption>
    </div>
</section>

<section class="location-address">
    <div class="photo">
    <div class="group-img">
    <div class="p1">
    <figure><img src="/assets/images/location/location-2.jpg" alt="City View"/></figure>
    </div>
    <div class="p2">
      <figure><img src="/assets/images/location/location-3.jpg" alt="City View"/></figure>
    </div>
    </div>
    </div>
    <div class="address">
    <h5 >Get in touch with us</h5>

    <ul>
      <li class="icon-add">228 W 47th Street, New York,<br>NY 10036<hr></li>
      <li class="icon-tell">
        <a href="tel:1.800.637.7070" title="Contact Number">1.800.637.7070</a><br><a href="tel:1.212.840.5000" title="Contact Number">1.212.840.5000</a>
        <hr>
      </li>
      <li class="icon-email"><a href="mailto:edisonres@triumphny.com" title="Email">edisonres@triumphny.com</a><br>
        <a href="mailto:sales@edisonhotelnyc.com" title="Email">sales@edisonhotelnyc.com</a>

      </li>
    </ul>
    </div>
</section>

<section class="gradient">
    <div class="map-gray">
      {% include map-section.html %}

    <div class="attraction-info">
      <div class="attraction-img">
        <figure>
          <img src="/assets/images/location/location-4.jpg" alt="Attraction" />
        </figure>
        <figcaption><em>National September 11 Memorial & Museum<br>Phone: (212) 312-8800</em></figcaption>
      </div>
      <div class=" attraction-list">
        <ul>
          <li><a href="/" title="National September 11 Memorial and Museum" class="active">National September 11 Memorial and Museum </a></li>
          <li><a href="/" title=" Wall Street Stock Exchange"> Wall Street Stock Exchange</a></li>
          <li><a href="/" title=" Trinity Church"> Trinity Church</a></li>
          <li><a href="/" title="Brooklyn Bridge">Brooklyn Bridge</a></li>
          <li><a href="/" title="New York Transit Museum Annex"> South Street Sea Port Museum</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="walking-tours">
    <div class="walking-info">
      <h2>ALL YEAR NYC</h2>
      <h5>Complimentary NYC Walking Tours</h5>
      <figure>
        <img src="/assets/images/location/location-6.jpg" alt="Walking Tours">
      </figure>
      <p>What better way to explore New York City than a guided tour provided by the experts? Streetwise New York Tours shares the best of your surroundings when venturing through any of our seven hotel neighborhoods. </p>
     
      <div class="btn-holder">
      <a href="/"  title="View schedule" class="btn btn-2-cta"> View schedule</a>
      </div>
      <div class="btn-holder">
        <a href="/"  title="Book  tour" class="btn btn-blue">Book  tour<i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <div class="walking-slider">
      <div id="walking-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 1</p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 2</p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/images/location/location-7.jpg" alt="Events">
            <div class="carousel-caption">
            <p>Caption 3</p>
          </div>
          </div>
        </div>
          <a class="carousel-control-prev" href="#walking-slider"  role="button" data-slide="prev" title="Preview">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
          <a class="carousel-control-next" href="#walking-slider" role="button" data-slide="next" title="Next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
      </div>
    </div>
</section>
<section class="exprence-nyc" style="background-image:url(/assets/images/location/location-8.jpg);">
<h1>Experience<br>
  TRIBECA</h1>
<div class="btn-holder">
<a href="/" class="btn btn-blue" title="BookNow" >Book Now<i class="fa fa-angle-right"></i></a>
</div>
</section>


{% include exclusive-offers.html %}
{% include instagram.html %}
