---
layout: default
title: "Offer-details"
description: "Come join us at one of our events."
permalink: /offer-detail/
---

<section>
  <div class="inner-banner " style="background-image: url('/assets/images/specials/specials-details-banner.jpg')">
   </div>
</section>
<section class="offers-nav">
<div class=" container-fluid p-0">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs rooms-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="/" title="Previous offer">Previous offer</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/" title="Next Offer">Next Offer</a>
        </li>
    </ul>
  </div>
</section>
<section class="heading-section">
    <div class="heading-inner">
      <div class="heading">
        <h1>ROOM SERVICE<br>PACKAGE</h1>
        <h5>Share 
            <a href=""title="Google+"><i class="social_googleplus" aria-hidden="true"></i></a>
            <a href=""title="FaceBook"><i class="social_facebook" aria-hidden="true"></i></a>
            <a href=""title="Twitter"><i class="social_twitter" aria-hidden="true"></i></a>
            <a href=""title="pinterest"><i class="social_pinterest" aria-hidden="true"></i></a>
        </h5>
        <div class="btn-holder">
          <a href="#" title="Book now" class="btn btn-2-cta">CONTACT US</a>
        </div>
        <div class="btn-holder">
        <a href="#" title="Book now" class="btn btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="special-info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
    </div>

    <div class="special-img">
      <img src="/assets/images/specials/specials-01.jpg" alt="Room service package" class="img-fluid"/>
    </div>
    <div class="special-info-heading"> 
      <h2>ROOM SERVICE<br>PACKAGE</h2>
      <div class="btn-holder">
          <a href="#" title="Book now" class="btn btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="special-info-list"> 
        <ul>
          <li>10% Off our Best Flexible Rate</li> 
          <li>Daily $25 Butler Hospitality Meal Voucher <br/> (Maximum one (1) Voucher per room/per night)</li>
      </div>
    </div>
  </section>
  <section class="book-now-sec" style="background-image:url(/assets/images/specials/specials-booknow.jpg);">
        <div class="inner-content">
        <h5>THE FREDERICK<br>HOTEL</h5>
          <div class="fr-logo"><a href="/" title="Hotel Edison"><img src="/assets/images/about/white-logo.png" alt="THE FREDERICK Hotel" /></a></div>
          <h6>A TRIBECA BOUTIQUE HOTEL<br>IN NEW YORK CITY</h6>
          <div class="btn-holder">
        <a href="/rooms/" title="Book Now" class="btn btn-white">Book Now <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        </div>
</section>
{% include more-rooms.html %}
{% include exclusive-offers.html %}
{% include instagram.html %}
