---
layout: default
title: "Boutique Hotel Deals & Offers | Offers at The Frederick"
excerpt: Explore our special offers and save on accommodations when you book direct. Choose from advanced purchase deals to wedding packages and lots more!
permalink: /offers/
---

{% assign offers = site.data._models.offers | sort: 'order' %}

<section class="inner-banner bg-styles" style="background-image: url('/assets/images/specials/specials-banner.jpg');"></section>

<section class="specials-top">
  <div class="specials-container">
    <div class="specials-container-inner">
      {% regionblock offers-heading-1  type:header %}
      <h3>The Frederick Hotel</h3>
      {% endregionblock %}

      {% regionblock offers-heading-2  type:header %}
      <h1>Exclusive Offers</h1>
      {% endregionblock %}

      {% regionblock offers-content  type:text %}
      <p>Explore our special offers and save on accommodations when you book direct. </p>
      {% endregionblock %}
    </div>
  </div>
</section>

<section class="exclusive-offers-sec">
  <div class="offers-wrap">

    {% for offer in offers limit: 4 %}

      <div class="offer-sec {% if forloop.length == 3 %} three-offers {% elsif forloop.length == 2 %} two-offers {% elsif forloop.length == 1 %} one-offer {% endif %} ">
        <a href="{{ offer.url_friendly_name }}/">
          <div class="offer-img" style="background-image:url('{% if offer.excerpt_image %}{{ offer.excerpt_image.url }}{% else %}{{ offer.banner_image.url_small }}{% endif %}');">
            <div class="img-bg"></div>
          </div>
        </a>
        <div class="btn-holder">
          <a href="{{ offer.url_friendly_name }}/" class="btn btn-white">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <a href="{{ offer.url_friendly_name }}/">
          <div class="offer-heading">
            <h6>{{ offer.title }}</h6>
          </div>
        </a>
      </div>

    {% endfor %}

  </div>
</section>

{% include instagram.html%}