---
layout: default
title: "GROUP & CORPORATE TRAVEL"
permalink: /rfp/
---

<section>
  <div class="inner-banner" style="background-image: url('/assets/images/hotel-hero-photo.jpg')">
   </div>
</section>

<section class="heading-section">
  <div class="heading-inner">
    <div class="heading">
      <h6>Request For Proposal</h6>
      <h1>Group and Corporate Travel</h1>
      <p>Thank you for considering the The Frederick for your group travel needs. Our convenient location, gracious amenities, and exceptional service make us one of the top choices for downtown New York hotels. To start planning group travel at The Frederick, please fill out the form below and a member of our team will contact you with a proposal.</p>
    </div>
  </div>

</section>
<section class="rfp">
        <div class="rfp-wrapper">
                <div class="rfp-form">       
            {% include forms/jotform/rfp.html %}
            <div>
        </div>
</section>
{% include instagram.html %}
