---
layout: default
title: "Room Details"
description: "Come join us at one of our events."
permalink: /room-details/
---

<section>
  <div class="inner-banner " style="background-image: url('/assets/images/rooms/details-banner.jpg')">
   </div>
</section>
<section class="offers-nav">
<div class=" container-fluid p-0">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs rooms-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="/" title="Previous offer">Previous offer</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/" title="Next Offer">Next Offer</a>
        </li>
    </ul>
  </div>
</section>
<section class="heading-section">
    <div class="heading-inner">
      <div class="heading">
        <h3>TONIGHT’S RATE <a href="" title="rate">$385</a></h3>
        <h1>Junior Suite</h1>
        <div class="btn-holder">
        <a href="#" title="Book now" class="btn btn-blue">BOOK NOW <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="special-info">
      <p>Junior Suites in New York City at the Cosmopolitan Hotel offer one king bed and a pullout sofa bed, and can accommodate up to four guests. Standard services and amenities are all included in each of our hotel suites in TriBeCa. Experience the very best boutique NYC accommodations have to offer.</p>
    </div>



    <div class="search-widgt">
        <div class="arrival ">
            <label>Arrival Date</label><br>
              <input type="text" class="form-control" id="input_8" placeholder="09, 10, 2017" aria-label="Start date"/>
        </div>
        <div class="departures">
            <label>Departures Date</label><br>
            <input type="text" class="form-control" id="input_9" placeholder="09, 11, 2017" aria-label="end date"/>
        </div>
                        <div class="rooms ">
                          <label>Rooms</label><br>
                          <div class="count-input space-bottom">
                          <a class="incr-btn" data-action="decrease" title="-" href="#">–</a>
                          <input class="quantity" type="text" name="quantity" aria-label="Rooms"  value="0" min="1" max="10"/>
                          <a class="incr-btn" data-action="increase" title="+" href="#">&plus;</a>
                          </div>
                        </div>
                        <div class="adults ">
                        <label>Adults</label><br>
                        <div class="count-input space-bottom">
                          <a class="incr-btn" data-action="decrease" title="-" href="#">–</a>
                          <input class="quantity" type="text" name="quantity" aria-label="Adults"  value="0" min="1" max="6"/>
                          <a class="incr-btn" data-action="increase" title="+" href="#">&plus;</a>
                        </div>
                      </div>
                        <div class="child">
                        <label>Children</label><br>
                      <div class="count-input space-bottom">
      
                          <a class="incr-btn" data-action="decrease" title="-" href="#">–</a>
                          <input class="quantity" type="text" name="quantity" aria-label="Children"  value="0" min="1" max="6"/>
                          <a class="incr-btn" data-action="increase" href="#" title="+">&plus;</a>
                      </div>
                    </div>
                    <div class="btn-sec">
                        <button>Check Availability <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                    </div>
      </div>
    <div class="special-img">
      <img src="/assets/images/rooms/details-1.jpg" alt="Room service package" class="img-fluid"/>
    </div>
    <div class="special-info-heading"> 
      <h2>JUNIOR SUITES</h2>
      <h5>2-4 person</h5>
      <div class="btn-holder">
          <a href="#" title="Book now" class="btn btn-2-cta">BOOK NOW </a>
        </div>
        <div class="btn-holder">
            <a href="#" title="TAKE a virtual tour" class="btn btn-2-cta">TAKE a virtual tour </a>
    </div>
  </div>
    <div class="special-info-list"> 
        <ul>
          <li>King bed with a pull-out sofa</li>
          <li>Accommodates up to four guests</li>
          <li> Complimentary Wi-Fi</li>
          <li>In-room safe</li> 
          <li>Frette luxury linens and towels</li>
      </div>
    </div>

    <div class="room-images">
        <div class="photo-full "><img src="/assets/images/rooms/details-2.jpg" alt="JUNIOR SUITES" class="img-fluid" /></div>
        <div class="photo-half">
          <div class="row">
              <div class="photo-half-1"><img src="/assets/images/rooms/details-3.jpg" alt="JUNIOR SUITES " class="img-fluid" /></div>
                <div class="photo-half-2"><img src="/assets/images/rooms/details-4.jpg" alt="JUNIOR SUITES" class="img-fluid" /></div>
          </div>
        </div>
      </div>

  </section>

{% include more-rooms.html %} 
{% include exclusive-offers.html %}
{% include instagram.html %}
