<section class="exclusive-offers-sec">
	<div class="heading-sec p-xl-0"> 
		<h2>Exclusive Offers</h2>
		<h3>When you book direct</h3>
		<div class="btn-holder">
			<a href="/offers/" class="btn btn-2-cta" title="View  offers">View  offers</a>
		</div>
	</div>
	<div class="offers-wrap">
		<div class="offer-sec">
			<div class="offer-img" style="background-image:url(/assets/images/home/offer-1.jpg);">
				<div class="img-bg"> </div>
			</div>
			<div class="btn-holder">
				<a href="#" title="See Details" class="btn btn-white">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
			<div class="offer-heading"><h6>Grab & Go Breakfast</h6></div>
		</div>
		<div class="offer-sec">
			<div class="offer-img" style="background-image:url(/assets/images/home/offer-2.jpg);">
				<div class="img-bg"> </div>
			</div>
			<div class="btn-holder">
				<a href="#" title="See Details" class="btn btn-white">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
			<div class="offer-heading"><h6>The Signature<br>Escape</h6></div>
		</div>
		<div class="offer-sec">
			<div class="offer-img" style="background-image:url(/assets/images/home/offer-3.jpg);">
				<div class="img-bg"> </div>
			</div>
			<div class="btn-holder">
				<a href="#" title="See Details" class="btn btn-white">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
			<div class="offer-heading"><h6>Business Traveller<br>exclusive</h6></div>
		</div>
		<div class="offer-sec">
			<div class="offer-img" style="background-image:url(/assets/images/home/offer-4.jpg);">
				<div class="img-bg"> </div>
			</div>
			<div class="btn-holder">
				<a href="#" title="Discover & Book" class="btn btn-white">See Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			</div>
			<div class="offer-heading"><h6>Website<br>Exclusive</h6></div>
		</div>
	</div>
</section>
