<section class="instagram">
<div class="heading ">
<i class="fa fa-instagram"></i>
<h3>#thefrederickhotel</h3>
</div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-1.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-2.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-3.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-4.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-5.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-6.jpg" alt="instagram" /></div>
<div class=" contact-details">
<p><span>The Frederick Hotel</span>  <a href="/" title="Address">95 West Broadway, New York, NY 10007</a><br>

<span>General Inquiries</span> <a href="mailto:Info@thefrederickNYC.com" title="General Inquiries"> Info@thefrederickNYC.com</a><br>

<span>Press Inquiries</span><a href="mailto:Press@thefrederickNYC.com" title="Press Inquiries">Press@thefrederickNYC.com</a><br>

<span>T</span><a href="tel:212.566.1900" title="contact">212.566.1900</a></p>

{% if site.data.social.facebook.username %}
  <a href="https://facebook.com/{{ site.data.social.facebook.username }}"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
{% endif %}

{% if site.data.social.twitter.username %}
  <a href="https://twitter.com/{{ site.data.social.twitter.username }}"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
{% endif %}

{% if site.data.social.facebook.username %}
  <a href="https://www.instagram.com/{{ site.data.social.facebook.username }}"><i class="fa fa-fw fa-instagram" aria-hidden="true"></i></a>
{% endif %}
{% if site.data.social.facebook.username %}
  <a href="https://pinterest.com/{{ site.data.social.facebook.username }}"><i class="fa fa-fw fa-pinterest-p" aria-hidden="true"></i></a>
{% endif %}
{% if site.data.social.facebook.username %}
  <a href="https://plus.google.com/{{ site.data.social.facebook.username }}"><i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>
{% endif %}
</div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-7.jpg" alt="instagram" /></div>
</section>
