<section class="instagram">
<div class="heading ">
<i class="social_instagram"  aria-hidden="true"></i>
<h2><a href="">#frederickhotel</a></h2>
</div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-1.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-2.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-3.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-4.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-5.jpg" alt="instagram" /></div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-6.jpg" alt="instagram" /></div>
<div class=" contact-details">
<p class="text-uppercase"> The Frederick Hotel is the newest offering from Triumph Hotels</p>
<p><span>The Frederick Hotel</span> <a href="https://goo.gl/maps/q5NEfSYXrny" target="_blank" title="Address">95 West Broadway, New York, NY 10007</a><br>

<span>General Inquiries</span> <a href="mailto:info@triumphny.com" title="General Inquiries">info@triumphny.com</a><br>

<span>Press Inquiries</span> <a href="mailto:press@triumphny.com" title="Press Inquiries">press@triumphny.com</a><br>

<span>T. </span> <a href="tel:212.566.1900"> 212.566.1900</a></p>
 <div class="social-links">
{% if site.data.social.facebook.username %}
  <a title="Facebook" href="https://facebook.com/{{ site.data.social.facebook.username }}"><i aria-hidden="true" > <span aria-hidden="true" class="social_facebook"></span></i></a>
{% endif %}

{% if site.data.social.twitter.username %}
  <a title="Twitter"  href="https://twitter.com/{{ site.data.social.twitter.username }}"><i aria-hidden="true"><span aria-hidden="true" class="social_twitter"></span></a></i></a>
{% endif %}

{% if site.data.social.instagram.username %}
  <a title="Instagram"  href="https://www.instagram.com/{{ site.data.social.facebook.username }}"><i aria-hidden="true"> <span aria-hidden="true" class="social_instagram"></span></i></a>
{% endif %} 
{% if site.data.social.pinterest.username %}
  <a title="google plus" href="https://pinterest.com/{{ site.data.social.pinterest.username }}"><i aria-hidden="true"><span aria-hidden="true" class="social_pinterest"></span></i></a>
{% endif %}
{% if site.data.social.googleplus.username %}
  <a title="pin it" href="https://plus.google.com/{{ site.data.social.googleplus.username }}"><i  aria-hidden="true"><span aria-hidden="true" class="social_googleplus"></span></i></a>
{% endif %}
    <ul class="contact-links">
          <li><a href="" title="Group & Corporate travel"> Group & Corporate travel  </a></li>
          <li><a href=""title="Careers">Careers </a></li>
          <li><a href="" title="Privacy & Site Security"> Privacy & Site Security </a></li>
          <li><a href="/faq/" title="faq">FAQ </a></li>
	</ul>
</ul>
</div>  



</div>
<div class=" instagram-img"><img src="/assets/images/instagram/instagram-7.jpg" alt="instagram" /></div>
</section>
