<section class="h-location">
      <div class="location">
        <div class="lady align-self-center text-center">
            <div class="image-holder">
              <i class="caption-90">Lorem ipsum dolor sit amet, consectetur.</i>
              <figure><img src="/assets/images/location-image-01.jpg" class="img-fluid"  alt="Girl with burger"/></figure></div></div>
              <div class="bridge"><img src="/assets/images/location-image-02.jpg" class="img-fluid full-width" alt="Bridge view"/></div>
        <div class="dining "> <img src="/assets/images/location-image-03.jpg" class="img-fluid full-width" alt="Dining"/></div>
        <div class="life-style p-md-5" data-aos="fade-down">
          <h3>Local lifestyle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="photo">
            <div class="image-holder">
              <i class="caption-right-90">Lorem ipsum dolor sit amet, consectetur.</i>
              <figure><img src="/assets/images/location-image-05.jpg" class="img-fluid full-width"  alt="Restarent"/></figure></div>
            </div>
              <div class="cocktail p-0"><img src="/assets/images/location-image-04.jpg" class="img-fluid full-width" alt="Cocktail"/></div>

  </div>
</section>
