<section class="h-location">
      <div class="location d-flex">
        <div class="col-md-7 align-self-center">
<span class="rotate">Lorem ipsum dolor sit amet, consectetur.</span>
           <img src="/assets/images/location-image-01.jpg"   alt="Bridge view"/></div>
        <div class="col-md-5 bridge"><img src="/assets/images/location-image-02.jpg" alt="Bridge view"/></div>
        <div class="col-md-7 dining no-gutters"> <img src="/assets/images/location-image-03.jpg" class="img-fluid" alt="Dining"/></div>
        <div class="col-md-5 align-self-center p-5">
          <h3>Local lifestyle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
</section>
