<section class="h-location">
      <div class="location">
        <div class="lady align-self-center text-center">
            <div class="image-holder">
              <i class="caption-90">Lorem ipsum dolor sit amet, consectetur.</i>
              <figure><img src="/assets/images/location-image-01.jpg" alt="Bridge view"/></figure></div></div>
              <div class="bridge"><img src="/assets/images/location-image-02.jpg" class="img-fluid" alt="Bridge view"/></div>
        <div class="dining "> <img src="/assets/images/location-image-03.jpg" class="img-fluid" alt="Dining"/></div>
        <div class="life-style  p-5">
          <h3>Local lifestyle</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
</section>
<section class="location-bottom">
        <div class="photo">
            <div class="image-holder">
              <i class="caption-right-90">Lorem ipsum dolor sit amet, consectetur.</i>
              <figure><img src="/assets/images/location-image-05.jpg" class="img-fluid"  alt="Restarent"/></figure></div></div>
              <div class="life-style"><img src="/assets/images/location-image-04.jpg" class="img-fluid" alt="Cocktail"/></div>


</section>
