
<section class="map-section">
  <ul class="map-nav nav nav-fill">
    <li class="map-item">
      <a class="map-link " href="#"  >The Frederick</a>
    </li>
    <li class="map-item">
      <a class="map-link" href="#" >More Hotels</a>
    </li>
    <li class="map-item">
      <a class="map-link active" href="#" >attractions</a>
    </li>
    <li class="map-item">
      <a class="map-link" href="#" >restaurant/bar</a>
    </li>
    <li class="map-item">
      <a class="map-link" href="#" >Shops</a>
    </li>
    <li class="map-item">
      <a class="map-link" href="#" >transport </a>
    </li>
  </ul>
  <div id="map">
  </div>
</section>
