<section class="more-rooms">
	<div class="m-5 text-center"> 
		<h2>BROWSE ROOMS & SUITES</h2>
	</div>
   <div class="container">
        <div class="row">
        <div class="col-md-12">
                        <div class="bg-black"></div>
                        <div id="more-room" style="display: none;" class="bsHCarousel" data-items="1,2,2,2" data-slide="1,2,2,2" id="more-room"  data-interval="1000">
                          <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item odd">
                                        <div class="d-block item-price">
                                        <h2>SUPERIOR SINGLE</h2>
                                        <h3>TONIGHT’S RATE $385</h3>
                                        </div>
                                        <div class="row-full"> 
                                            <div class="col-lg-4 flex-last flex-lg-first mt-auto">
                                                <div class="btn-holder">
                                                <a href="#" title="View room" class="btn btn-2-cta">VIEW ROOM</a>                                                </div>
                                                <div class="btn-holder">
                                                   <a href="#" title="Book now" class="btn btn-blue">Book Now</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 ">
                                                <img class="img-fluid" src="/assets/images/rooms/more-rooms-1.jpg" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide">
                                             </div> 
                                        </div> 
                                    </div>
                                    <div class="carousel-item"> 
                                        <div class="d-block item-price">
                                        <h2>SUPERIOR SINGLE</h2>
                                        <h3>TONIGHT’S RATE $385</h3>
                                        </div>
                                        <div class="row-full"> 
                                            
                                            <div class="col-lg-8">
                                                <img class="img-fluid" src="/assets/images/rooms/more-rooms-1.jpg" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide">
                                             </div> 

                                            <div class="col-lg-4 mt-auto">
                                            <div class="btn-holder">
                                            <a href="#" title="View room" class="btn btn-2-cta">VIEW ROOM</a>
                                            </div>
                                            <div class="btn-holder">
                                               <a href="#" title="Book now" class="btn btn-blue">Book Now</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item  odd">
                                        <div class="d-block item-price">
                                        <h2>SUPERIOR SINGLE</h2>
                                        <h3>TONIGHT’S RATE $385</h3>
                                        </div>
                                        <div class="row-full"> 
                                            <div class="col-lg-4  flex-last flex-lg-first mt-auto">
                                            <div class="btn-holder">
                                            <a href="#" title="View room" class="btn btn-2-cta">VIEW ROOM</a>
                                            </div>
                                            <div class="btn-holder">
                                               <a href="#" title="Book now" class="btn btn-blue">Book Now</a>
                                            </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <img class="img-fluid" src="/assets/images/rooms/more-rooms-1.jpg" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide">
                                             </div> 
                                        </div>
                                    </div>
                                     <div class="carousel-item">
                                        <div class="d-block item-price">
                                        <h2>SUPERIOR SINGLE</h2>
                                        <h3>TONIGHT’S RATE $385</h3>
                                        </div>
                                        <div class="row-full"> 
                                            
                                            <div class="col-lg-8">
                                                <img class="img-fluid" src="/assets/images/rooms/more-rooms-1.jpg" data-src="holder.js/900x300?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide">
                                             </div> 
                                            <div class="col-lg-4 mt-auto">
                                            <div class="btn-holder">
                                            <a href="#" title="View room" class="btn btn-2-cta">VIEW ROOM</a>
                                            </div>
                                            <div class="btn-holder">
                                               <a href="#" title="Book now" class="btn btn-blue">Book Now</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                            
                           </div>
                            <a class="carousel-control-prev leftLst" data-target="#homeRooms" role="button" title="Preview">
                              <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                            <a class="carousel-control-next  rightLst" data-target="#homeRooms" role="button" title="Next">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a> 
                  </div>
                 
                </div>
    </div>   
    <div class="row">
         <div class="col-md-12 text-center mt-5 mb-5"> 
             <a href="/rooms/" class="btn btn-2-cta"> Discover all rooms &amp; Suites</a>
         </div>
    </div>     
  </div>
</section>
