<section class="news-letters">
      <div class="nwl-bg bg-image-cover" style="background-image: url('/assets/images/news-leter-bg.jpg');">
         <div class="overlay-bg">
           <div class="stay-plus"><h3>Stay on the pulse</h3></div>

           <div class="middle-content">
             <h2>You Can’t wait to<br>
            stay with us?</h2>
            <div class="form-group row">
                    <input class="form-control" aria-label="Email" type="email" placeholder="Your Email Address">
                </div>
            <button class="btn btn-blue" title="Get Updates">Get Updates <span class="e-icon">$</span></button>
          </div>
      </div>
      </div>
</section>
