<section class="news-letters">
      <div class="nwl-bg bg-image-cover" style="background-image: url('/assets/images/news-leter-bg.jpg');"> 
          <div class="middle-content">
            {% regionblock news_leeters_heading,  type:header %}
             <h2 class="banner-title"> Can’t wait to<br>
            <u>stay with us?</u></h2>
            {% endregionblock %}

          <form class="jotform-form" action="https://submit.jotform.me/submit/72184286282461/" method="post" name="form_72184286282461" id="72184286282461" accept-charset="utf-8">
            <input type="hidden" name="formID" value="72184286282461" aria-label="hidden" />
            <div class="form-group row">
                    <input class="form-control" aria-label="Email"  type="email" id="input_3" name="q3_email" placeholder="Your Email Address">
                </div>
            <button class="btn btn-white" title="Get Updates">Get Updates  <i class="fa fa-angle-right" aria-hidden="true"></i></button>
          </form>
          <input type="hidden" aria-label="hidden" id="simple_spc" name="simple_spc" value="72184286282461" />
          <script type="text/javascript">JotForm.ownerView=true;</script>
          </div>
      </div> 
</section>
