<div id="offer-popup" class="offer-popup modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-wrapper">

      <button type="button" class="close" data-dismiss="modal">&times;</button>

      <div class="modal-content">
        <div class="modal-content-inner">
          <img src="/assets/images/frederick-hotel-logo.svg" alt="Frederick Hotel">
          <h2>Our Treat to You</h2>
          <p>For a limited time only we're offering a <strong>$25 American Express Card per night</strong> for all bookings made directly through the Frederick Hotel website, for up to $200.</p>
          <a class="btn btn-blue m-t-40" href="https://gc.synxis.com/rez.aspx?hotel=16065&chain=16087" target="_blank">Book Now</a>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  if (!Cookies.get('popup')) {
    $('#offer-popup').show();
    $('#offer-popup').modal();
    Cookies.set('popup', '1', {
      expires: 1
    });
  }
</script>
