/*
   Base Elements
   ========================================================================== */
html {
  position: relative;
  min-height: 100%;
  font-size: 0.813rem;
    @include media-breakpoint-up(lg){
      font-size:$font-15 ;
    }
}

body {
  margin: 0;
  padding: 0;
  color: $light-color;
  font-family: $regular;
  line-height: 1.5;
  background: $background-color url('/assets/images/pattern.png'); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  font-size: $font-45;
  font-family: $regular;
}

h2 {
  font-size: $font-24;
  letter-spacing: .1rem; 
  font-family: $medium;
  line-height: 2.5rem;
     u{
      position: relative;
      border-bottom: 0;
      
      &:before{
        content: '';
        position: absolute;
        bottom: 0.875rem;
        left: 0;
        height: 2px;
        background: $light-color;
        width: 0px;
        @include transition(all .7s ease);
          @include media-breakpoint-up(md){  
            bottom: 1.675rem;
          }
      }
     } 
      u.active{
        &:before{ 
          width: 100%;
        }
      } 
}

h3 {
  font-size: $font-12;
}

h4 {
  font-size: $font-200;
}

h5 {
  font-size: $font-14;
}

h6 {
  font-size: $font-16;
}

small, .small {
  font-size: $type-size-6;
}

p {
  font-size:$font-15 ;
  margin-bottom: 1.3rem;
  line-height: 1.5rem;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* links */

a {
  &:hover,
  &:active {
    outline: 0;
  }
}

/* horizontal rule */

hr {
  display: block;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid $border-color;
}

/* sets a default bottom margin and removes bullet points from lists */

ul li,
ol li {
  margin-bottom: 0.5rem;
  list-style: none;
}

li ul,
li ol {
  margin-top: 0.5rem;
  list-style: none;
}

/* removes margins, padding, and bullet points from navigation lists */
nav {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  /* override white-space for nested lists */
  ul li,
  ol li {
    margin-bottom: 0;
  }

  li ul,
  li ol {
    margin-top: 0;
  }
}
/* fix IE9 SVG bug */

svg:not(:root) {
  overflow: hidden;
}

/* Container*/
.container{
  max-width: 1192px;
  width: 100%;
  position: relative;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.white-bg{
  background-color: $white;  //white background color
}
.bg-image-cover{ //full cover image background
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.row-full{  //full row with no gutter
  @extend .row;
  @extend .no-gutters;
}
.content-2{
    @extend .col-sm-6;
}
.overlay-bg{
   background-image: url('/assets/images/texture.png');
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}
.e-icon{
  font-family: $font-icon;
}

//buttons
.btn-primary{
  border-radius: 0;
  background-color: $primary-color;
  color: $white !important;
  border-color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 1.3rem;
  padding: 0.9rem 1.4rem 0.6rem 1.4rem;
  cursor: pointer;
  &:hover{
     outline: 0;
     background-color: $slate-grey;
  }
}
.btn-blue{
  @extend .btn-primary;
   padding: 1.2rem 1.1rem 0.8rem 1.6rem;
     .e-icon{
      position: relative;
      vertical-align: middle;
    }
}
.btn-outline{
  @extend .btn-primary;
  background: transparent;
  border: 2px solid $black;
  color: $black !important;
  &:hover{
    background-color: $black;
    color: $white !important;
    border: 2px solid $black;
  }
}
.btn-outline-arrow{
   @extend .btn-blue;
   border: 2px solid $black;
   color: $black !important;
    background: transparent;
   &:hover{
     background-color: $black;
     color: $white !important;
     border: 2px solid $black;
   }
}
.btn-white{
  @extend .btn-blue;
  background-color: $white;
  color: $primary-color !important;
  @include transition($global-transition);
   i{
      padding-left: .6rem;
   }
  &:hover{
    color: $white !important;
    background-color: $primary-color;
    text-decoration: none;
  }
}
.btn-square{
  @extend .btn-blue;
  max-width: 142px;
  padding: 3rem;
  white-space: normal; 
  right: 0;
  top: 0;
  border:0px;
  &:hover
  {
    background-color: $white;
    color: $primary-color !important;
  }
}
.btn-2-cta{
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: .3rem .7rem;
  font-size: $font-14;
  font-family: $medium;
  letter-spacing:.12rem;
  font-weight: bold;
  outline: 0; 
  @include transition($global-transition);
  &:before{
     content: '';
     height: 100%;
     width: 2px;
     position: absolute;
     left: 0;
     top: 0;
     background-color: $primary-color;
      @include transition($global-transition);
  }
  &:hover, &:focus{
         outline: 0;
         box-shadow: none;
         color: $slate-grey;
         &:before{
             height: 50%;
             top: 26%;
             background-color: $slate-grey;
         }
  }
}
.btn-3-cta{
  @extend .btn-2-cta;
  color: $white;
    &:before {
      background-color: $white;
    }
}
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 
