 @font-face{
        font-family:"Courier New W01 Italic";
        src:url("/assets/fonts/7e2238fd-be71-4077-9c84-a131182472b8.eot?#iefix");
        src:url("/assets/fonts/7e2238fd-be71-4077-9c84-a131182472b8.eot?#iefix") format("eot"),url("/assets/fddff8089-8a74-4b32-9c0d-335920906fd7.woff2") format("woff2"),url("/assets/fonts/9e71a4ae-786b-43ab-8470-6e927ce35298.woff") format("woff"),url("/assets/fonts/8deecbe8-7d4d-4574-abb0-7bc01084320b.ttf") format("truetype"),url("/assets/fonts/8a2a107d-f55f-4b02-bb9b-eb7fbc734d97.svg#8a2a107d-f55f-4b02-bb9b-eb7fbc734d97") format("svg");
    }
    @font-face{
        font-family:"Courier New W07 Regular";
        src:url("/assets/fonts/d8dd49c8-c4df-41b7-9f0d-aa400ef0a95d.eot?#iefix");
        src:url("/assets/fonts/d8dd49c8-c4df-41b7-9f0d-aa400ef0a95d.eot?#iefix") format("eot"),url("/assets/fonts/18a7ddcf-7e9d-4fdb-91a8-4b5af66f2994.woff2") format("woff2"),url("/assets/fonts/a9d1771f-413f-4e7d-872c-8618166dd364.woff") format("woff"),url("/assets/fonts/e6aff6cf-3fbe-4712-9f74-4e1242f42b62.ttf") format("truetype"),url("/assets/fonts/4129a47f-81db-49af-b596-0396a7335228.svg#4129a47f-81db-49af-b596-0396a7335228") format("svg");
    }
