.page-header{
	@extend .container-fluid; 
	padding: 0.8125rem; 
	.social-links{
		margin: 2rem;
		padding: 2.125rem 0;
		position: absolute;
      ul{
      	list-style-type: none;
      	padding: 0px;
      	li{
      		display: inline;
      		a{
      			color: $light-color; 
      			width: 30%;
      			padding: .25em .78em;
      			font-size: $type-size-6 ;
      			text-decoration: none;
      			@include transition($global-transition);
      			&:hover{
      				color: $primary-color;
      			}
      		}
      	}
      }
	}
	.btn-primary{
        position: absolute;
        right: 3rem;
        top: 3rem; 
	}
	.title{
		text-transform: uppercase;
		letter-spacing: 1.05rem; 
		line-height: 6rem;
		min-width: 53.13rem;
		max-width: 100%; 		
		margin: 4.9rem auto;
		@include centerer(true, true);
	}
	.scroll-down{
		max-width: 100px;
		position: absolute;
		bottom: 0rem;
		height: 75px;
		text-align: center;  
		@include centerer(true, false);
		@include transition($global-transition);
		cursor: pointer;
		a{
			color: $white;
			text-decoration: none;
		}
		.e-icon{
			display: block;
			text-align: center; 
			animation: pulse 1.5s infinite;
			font-size: $type-size-4;
			line-height: 1.5rem;
		}
		&:hover{
			color: $white;
		}
	}
}
@keyframes pulse {
  0% {
    opacity: 0.2;
    margin-top: -10px;
  } 
  100% {
     opacity: 1;
     margin-top: 0px;
  }
}
.logo{ 
	text-align: center;
	img{
		margin: 6.8rem auto; 
	}
}
.title{
	font-size: $type-size-1; 
	letter-spacing: 0.8rem;
}
.fullscreen-wrapper{
   min-height: 18.75rem;
   position: relative;
}
.heading-banner{
	@extend .container-fluid; 
	.banner-wrapper{
		@extend .fullscreen-wrapper;
		height: 38.5rem;

		h2{ 
			 width:39.38rem;
			 max-width: 100%;
			 margin: 0 auto;
			 text-align: center;
			 text-transform: uppercase; 
			 u{ 
		 	 	position: relative;
		 	 	border-bottom: 0;
		 	 	&:before{
		 	 		content: '';
		 	 		position: absolute;
		 	 		bottom: 1.675rem;
		 	 		height: 2px;
		 	 		background: $light-color;
		 	 		width: 100%;
		 	 	}
		 	 }
		}

	}
}

.homeintro{
	position: fixed;
	display: none;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index:5;
	 width:100%;
	 height:100%;
	 padding: 14px;
	 .intro{ 
	 	width:100%;
	    height:100%;
	    position: relative;
	    	.btn-primary{
	            position: absolute;
	            right: 3rem;
	            top: 3rem; 
	    	}
	    	h3{
	    		@include centerer(true, false);
	    		margin-top: 5%;
	    		max-width: 22.5rem; 
	    		text-align: center;	
	    	}
	    	.title{
	    		text-transform: uppercase;
	    		letter-spacing: 1.05rem; 
	    		line-height: 6rem; 
	    		max-width: 22.5rem; 		 
	    		@include centerer(true, true);
	    	}
	    	.logo-intro{
	    		@include centerer(true, false);
	    		position: absolute;
	    		bottom: 6%;
	    	}
	    	.close-icon{
	    		position: absolute;
	    		left: 6%;
	    		bottom: 6%;
	    		color: $white;
	    		cursor: pointer;
	    		 
	    		&:hover{
	    				color: $light-color;
	    				 
	    			}
	    	}
	 }

}
.home-welcome{
   background-color: $light-color;
   min-height: 100px;
   color: $black;
   .img-left{
   	 background-image: url('/assets/images/left-girl.jpg');
   	 background-position: left top;
   	 background-repeat: no-repeat;
   }
   .caption-90{
   	font-family: $caption-font-family;
   	font-size: $type-size-7;
   	@include rotate(-90);
   	@include transform-origin(right bottom);
   	position: absolute;
   	right: 48px; 
   	top: -24%;
   }
   .content-wrapper{
   	  @extend .col-md-12;
   	  .content{
   	  	max-width: 40rem;
   	  	margin: 0 auto;
   	  	padding: 5.625rem 1rem 7.625rem;;
        background-color: $light-color;
   	  	h3{
   	  		line-height: 2.5rem;
   	  		font-weight: 600;
   	  		letter-spacing: 0.33rem;
   	  	}
   	  	p{
   	  		margin: 1.2rem 0px 3rem 0;
   	  	}
   	  }
   }
   .carousel-wrapper{
   	margin: -6rem 2rem 0rem 8.4rem;
	   #carouselAbout{
	   	max-width:945px;
	   	margin-left:0px;

	   	.wht-space{
	   		height: 96px;
		    width: 41%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background-color: $light-color;
	   	}
	   }
	   .carousel-control-prev, .carousel-control-next{
            position: absolute;
            height: 47%;
            width: 20px;
            color: $black;
            font-size: 1.25rem;
            opacity: 1;
            @include transition($global-transition);
            &:hover{
            	opacity: .5;
            }
	   }
	   .carousel-control-prev{
         left: -10%;
	   }
	   .carousel-control-next{
         right: auto;
         left: -7.8%;
	   }
	}
}
.exclusive-offers{
	padding: 3.75rem 0;
	@extend .container-fluid;
	background-color: $light-color;
	background-image: url('/assets/images/bg-offers.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: $black;
	.wrapper{
      @extend .row;
	}
	.detail{
		padding:16% 10%;
		h3{
			line-height: 2.5rem;
			line-height: 2.5rem;
		    letter-spacing: 0.33rem;  
		    font-weight: 600;
		}
		p{
			margin: 2rem 0;
		}
		.btn{
			    margin-top: 1.2rem;
		}
	}
	.pic-fashion{
		padding: 21% 6.5%;
		position: relative;
		.caption-90{
			font-family: $caption-font-family;
			font-size: $type-size-7;
			@include rotate(-90);
			@include transform-origin(right bottom);
			position: absolute;
			right: 25%; 
			top: 16%;
		}
	}
}