---
layout: default
---
  
 <!--main hero image slider-->
<section class="hero-slider">
  <div id="image-slider" class="carousel carousel-fade" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat active" style="background-image:url(/assets/images/hotel-hero-photo.jpg);">
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div> 
        </div>
      </div> 
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat" style="background-image:url(/assets/images/home/slider2.jpg);" >
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div>  
       </div>
    </div> 
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat" style="background-image:url(/assets/images/home/food.jpg);">
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div>  
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" data-target="#image-slider" title="Prev" role="button" data-slide="prev">
     <span class="site-text">The Frederick</span>
     <span class="e-icon" aria-hidden="true">#</span>
    </a>
    <a class="carousel-control-next" data-target="#image-slider" title="Next" role="button" data-slide="next">
    <span class="site-text">The Frederick</span>
    <span class="e-icon" aria-hidden="true">$</span>
    </a>
  </div> 
 </section>
 

<section class="exclusive-offers">
  <div class="container p-0">
     <div class="row no-gutters">
        <div class="col-md-7">
           <figure>
             <img src="/assets/images/home/edison.jpg" alt="edision exterior" class="img-fluid">
           </figure>
        </div>
        <div class="col-md-5">
            <div class="detail">
                <h2>Welcome to<br/>
the Frederick hotel</h2>
<p>The newest lifestyle offering from Triumph Hotels, The Frederick is the spot for in-the-know travelers and creatives looking for a good time and a comfortable stay. With a one-of-a-kind-bar, international cuisine, and stylish accommodations, The Frederick is how you do New York. </p>
           <p><a class="btn btn-2-cta" href="/contact/">Contact Us</a></p>
            </div>
        </div>
     </div>
  </div>
  <div class="container pb-5">
     <div class="wrapper">
            <div class="col-md-7 p-xl-0">
               <figure class="left-image">
                  <img src="/assets/images/home/i-fell-in-love.jpg" class="img-fluid pr-md-2 pb-3 float-md-left" alt="I fell in love here">
                  <span class="caption-90"><i>A young spirit with a storied past.</i></span>
               </figure> 
            </div>
            <div class="col-md-5 p-xl-0"> 
               <figure>
                  <img src="/assets/images/home/west-view.jpg" class="img-fluid" alt="west view">
               </figure>
               <div class="caption-90"><i>Live in the here &amp; now.</i></div> 
            </div>
        </div>
    </div>
  </div>
  {% include exclusive-offers.html %}
</section>

<section class="rooms-carousel">
  <div class="rooms-carousel-container">
    <div class="rooms-carousel-inner"> 
      <div id="homeRooms" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="img-fluid" src="https://cdn.traveltripper.io/site-assets/414_720_7109/media/2017-09-13-155909/large_Deluxe-Queen.jpg" alt="Room View">
            <div class="carousel-caption">
            <p>Deluxe Queen</p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="https://cdn.traveltripper.io/site-assets/414_720_7109/media/2017-09-13-155403/large_Superior-Single.jpg" alt="Room View">
            <div class="carousel-caption">
            <p>Superior Single</p>
          </div>
          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="https://cdn.traveltripper.io/site-assets/414_720_7109/media/2017-09-13-175434/large_Junior-Suites.jpg" alt="Room View">
            <div class="carousel-caption">
            <p>Junior Suite</p>
          </div>
          </div>
        </div>
        <a class="carousel-control-prev" data-target="#homeRooms" role="button" data-slide="prev" title="Preview">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" data-target="#homeRooms" role="button" data-slide="next" title="Next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="rooms-heading">
        <h2>The Art of Traveling Well</h2>
        <h5>Accommodations with Good Taste</h5>
        
          <a href="/rooms/" class="btn btn-2-cta in-black-cta" title="Discover all rooms & Suites">View Rooms </a>
       
      </div>
      <div class="rooms-content">
        <p>An artful mix of old and new in a historic Tribeca building, The Frederick is a unique breed among lifestyle hotels with rooms that look as good as they feel in the heart of New York’s most happening neighborhood. Style and comfort do meet - but only at The Frederick.</p>
      </div>
    </div> 
  </div>
</section> 
<section class="spring-fall">
  <div class="spring-inner">
    <div class="left-part">
      <img class="d-block img-fluid" src="/assets/images/home/friends.jpg" alt="Friends">
      <h2>The Insider’s Tribeca</h2>
      <h5>Complimentary Walking Tours</h5>
      <p>Let The Frederick and Streetwise show you around the neighborhood. See our favorite hidden gems and get the best local tips during our complimentary walking tours.  After all, the city is better when you know someone. And now you do. </p>
    </div>
    <div class="middle-part">
      <img class="d-block img-fluid" src="/assets/images/home/nyc.jpg" alt="nyc View">
    </div>
    <div class="right-part">
      <img class="ml-auto hidden-sm-down img-fluid" src="/assets/images/home/tour.jpg" alt="tour View">
      <div class="clearfix"></div>
      <div class="btn-holder">
        <a href="https://www.triumphhotels.com/walkingtours/" class="btn btn-2-cta" target="_blank" title="Book your tour">Book your tour now</a>
      </div>
    </div>
  </div>
</section>
<section class="dining-section">
  <div class="dining-section-wrapper">
    <div class="dining-phot-description">
      <figure>
        <img src="/assets/images/home/pizza-sampler.jpg" alt="Ballroom"  class="img-fluid" /> 
      </figure>
      <p>From handmade pastas to legendary black truffle pizza, Serafina’s authentic Neapolitan fare has made a name for itself not just in New York, but all over the world. And it’s in Tribeca at The Frederick Hotel.</p>
    </div>


    <div class="gastronomic">
      <h2>Authentic Italian</h2>
      <h5>Serafina Tribeca</h5>
      <div class="btn-holder">
        <a href="/dining/" class="btn btn-2-cta in-black-cta" title="Learn More">Learn More</a>
      </div>

      <figure class="text-right">

        <img src="/assets/images/home/9k.jpg" alt="9k"  class="img-fluid" />
           </figure>
      
      
</div>
</div>
</section>
 {% include map-section.html %}

<section class="location-section">
    <div class="heading-sec">
      <div class="heading">
      <h2>Tribeca - New York City</h2>
      <h5>It’s all happening here</h5>
    </div>
    <div class="photos">
     <div class="container">
        <div class="row">
          <div class="photo">
            <img src="/assets/images/home/location-2.jpg" class="img-fluid" alt="Location" />
          </div>
          <div class="photo">
            <img src="/assets/images/home/location-3.jpg" class="img-fluid" alt="Location" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="location-content ">
<div class="location-wrapper">
<div class="photo">
<img src="/assets/images/home/location-1.jpg" alt="location" class="img-fluid top" style=""/>
</div>
<div class="description"><p>Conveniently located in downtown Manhattan, The Frederick is surrounded by New York’s most talked-about art galleries, fashion-forward boutiques, and world-renown restaurants. From Tribeca, you can do anything - and get anywhere. </p>
</div>
<div class="links">
  <div class="btn-holder">
    <a href="/location/" class="btn btn-2-cta" title="Get Directions">Get Directions </a><br><br><br>
    <a href="/location/" class="btn btn-2-cta" title="Discover more">Discover more </a>
  </div>
</div>
</div>
</section>

<!--section class="updates">
  <h2>The FREDERICK UPDATES</h2>
  <ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-target="#Events" role="tab" data-toggle="tab">THE FREDERICK EVENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-target="#local" role="tab" data-toggle="tab">ALL LOCAL EVENTS</a>
    </li>
   <li class="nav-item">
     <a class="nav-link" data-target="#News" role="tab" data-toggle="tab">LATEST NEWS</a>
   </li>
  </ul-->

  <!-- Tab panes -->
  <!--div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Events">
      <div class="row">
        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-1.jpg);"></figure>
          <small>Fashion</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-2.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-3.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>
      </div>


    </div>
    <div role="tabpanel" class="tab-pane fade" id="local">
      <div class="row">
        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-1.jpg);"></figure>
          <small>Fashion</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-2.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-3.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>
      </div>


    </div>
    <div role="tabpanel" class="tab-pane fade " id="News">
      <div class="row">
        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-3.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-2.jpg);"></figure>
          <small>Art/culture</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>

        <div class="col-md-4">
          <figure style="background-image:url(/assets/images/home/event-1.jpg);"></figure>
          <small>Fashion</small>
          <h2>Special Event</h2>
          <span class="date">4.23.2017</span>
        </div>
      </div>
    </div>

  </div>
</section-->

<section class="triumph-hotels spacer-bottom">
  <h2>UNLOCK THE NEW YORK CITY EXPERIENCE </h2>
  <h3>With Triumph Hotels</h3>

<div class="more-hotels" style="background-image:url(/assets/images/home/nyc-camera.jpg);">
  <div class="inner-content">
    <ul>
    <li><a href="/" title="Triumph Hotel"><img src="/assets/images/triumph-logosvg.svg" alt="Triumph Hotel" /></a></li>
    <li><a href="/" title="Hotel Belleclaire">Hotel Belleclaire <span>Upper West Side</span></a></li>
    <li><a href="/" title="Washington Jefferson Hotel">WJ Hotel <span>Theater District</span></a></li>
     <li><a href="/" title="Hotel Edison">Hotel Edison <span>Times Square</span></a></li>
    <li><a href="/" title="The Iroquois New York">The Iroquois NY <span>Midtown</span></a></li>
    <li><a href="/" title="Hotel Chandler">Hotel Chandler <span>Flatiron District</span></a></li>
    <li><a href="/" title="The Evelyn">The Evelyn <span>Nomad</span></a></li>  
    <li><a href="/" title="The Frederick - TriBeCa">The Frederick <span>Tribeca</span></a></li>
    
   
    <ul>
  </div>
</div>
</section>

{% include forms/mailchimp/newsletter.html %}
{% include instagram.html%}
