---
layout: default
---
  
 <!--main hero image slider-->
<section class="hero-slider">
  <div id="image-slider" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat active" style="background-image:url(/assets/images/hotel-hero-photo.jpg);">
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div> 
        </div>
      </div>
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat" style="background-image:url(/assets/images/hotel-hero-photo.jpg);" >
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div> 
        </div>
      </div>
      
      <div class="carousel-item bg-center-center bg-cover  bg-norepeat" style="background-image:url(/assets/images/hotel-hero-photo.jpg);">
        <div class="carousel-caption d-md-block">
          <div class="title">This must be<br/>the place.</div>  
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" data-target="#image-slider" title="Preview" role="button" data-slide="prev">
     <span class="site-text">The Frederick</span>
     <span class="e-icon" aria-hidden="true">#</span>
    </a>
    <a class="carousel-control-next" data-target="#image-slider" title="Next" role="button" data-slide="next">
    <span class="site-text">The Frederick</span>
    <span class="e-icon" aria-hidden="true">$</span>
    </a>
  </div> 
 </section>
 

<section class="exclusive-offers">
  <div class="container p-0">
     <div class="row no-gutters">
        <div class="col-md-7">
           <figure>
             <img src="/assets/images/home/edison.jpg" alt="edision exterior" class="img-fluid">
           </figure>
        </div>
        <div class="col-md-5">
            <div class="detail">
                <h2>Welcome to<br/>
the Frederick hotel</h2>
<p>Lorem ipsum dolor sit amet, propriae imperdiet eu usu, legere dissentias at usu. Nec an dictas facilisis expetenda, ea scaevola assueverit philosophia duo, id nec laoreet ceteros. Ea cum tantas dissentiunt, eum quis illud ei, pri possim perfecto.</p>
           <p><a class="btn btn-2-cta" href="/contact/">Contact Us</a></p>
            </div>
        </div>
     </div>
  </div>
  <div class="container">
     <div class="wrapper">
            <div class="col-md-7 p-0">
               <figure>
                  <img src="/assets/images/home/i-fell-in-love.jpg" class="img-fluid float-left" alt="I fell in love here">
                  <span class="pl-2"><i>Caption 01</i></span>
               </figure>
               <!-- <div class="detail" data-aos="fade-down">
                  <h3>your Exclusive <br/>launch offer</h3>
                   <p>Enjoy preview rates up to 25% off and two complimentary cocktails at Serafina during your stay.</p>
                   <a href="" title="Share" class="btn btn-outline-arrow">Share <span class="e-icon">$</span></a>
               </div> -->
            </div>
            <div class="col-md-5 p-0"> 
               <figure>
                  <img src="/assets/images/home/west-view.jpg" class="img-fluid" alt="west view">
               </figure>
               <div class="caption"><i>Caption 02</i></div> 
            </div>
        </div>
    </div>
  </div>
</section>
{% include location-sec.html %}
{% include forms/mailchimp/newsletter.html %}
{% include instagram.html%}
