<form action="https://submit.jotform.me/submit/{{72533625582459}}/" method="post" name="form_{{72533625582459}}"
    id="{{72533625582459 }}" accept-charset="utf-8">
     <input type="hidden" name="formID" value="{{ 72533625582459 }}">
    <div class="first-name ">
    <input type="text" id="input_4" name="q4_firstName" placeholder="First Name" class="form-control" aria-label=" First Name" required />
    </div>
    <div class="last-name ">
    <input type="text" id="input_6" name="q6_lastName" data-type="input-textbox" class="form-control"  value="" placeholder="Last Name" aria-label="Last Name" />
    </div>
    <div class="email">
    <input type="email" id="input_3" name="q3_email" class="email-control" placeholder="Email" aria-label="Email" value="" required />
    </div>
      <div class="phonenumber ">
      <input type="text" id="input_7" name="q7_phoneNumber" class="form-control" value="" placeholder="Phone Number" aria-label="Phone Number" />
    </div>
    <div class="message">
    <textarea id="input_5"  name="q5_typeA" cols="40" class="form-control" aria-label="Message"  placeholder="Message" ></textarea>
  </div>
  <div class="btn btn-holder">
     <button type="submit" class="btn btn-blue" aria-label="Submit" id="input_2">Submit <i class="fa fa-angle-right"></i></button>
  </div>

    <input type="hidden"aria-label="hidden" id="simple_spc" name="simple_spc" value="{{ 72533625582459 }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ 72533625582459}}-{{ 72533625582459}}";
    </script>
</form>

<script type="text/javascript">JotForm.ownerView=true;</script>
