<form action="https://submit.jotform.me/submit/{{ 72533234482454 }}/" method="post" name="form_{{ 72533234482454 }}" id="{{ 72533234482454 }}"
    accept-charset="utf-8" autocomplete="off">
    <input type="hidden" name="formID" value="{{72533234482454 }}">
    <div class="first-name">
        <input type="text" id="input_3" name="q3_firstName3" data-type="input-textbox" class="form-control validate[required]" size="20" value="" placeholder="First Name " data-component="textbox" required=""  aria-label="Firsts" /> 
  </div>
  <div class="last-name">
    <input type="text" id="input_4" name="q4_lastName" data-type="input-textbox" class="form-control validate[required]" value="" placeholder="Last Name * " aria-label="Last Name" required="" />
  </div>

    <div class="email">
    <input type="email" type="email" id="input_6"  name="q11_email" aria-label="Email" placeholder="Email *" class="form-control" required="">
  </div>


  <div class="company">
      <input type="text" id="input_5" name="q5_companyName" data-type="input-textbox" aria-label="company" class="form-control"  value="" placeholder="Company " data-component="textbox" />
  </div>

  <div class="company">
  <input type="text" id="input_6" name="q6_address" data-type="input-textbox"  aria-label="address1"  class="form-control"   value="" placeholder="Address " data-component="textbox" />
  </div>
  <div class="company">
  <input type="text" id="input_7" name="q7_address2" data-type="input-textbox" class="form-control"  value="" placeholder=" Address 2" aria-label="address2"  data-component="textbox" /> 
  </div>
  <div class="company">
  <select class="form-control" id="input_99" name="q9_state"  data-component="dropdown" aria-label="state">
      <option value="">Select State</option>
      <option value="Alabama"> Alabama </option>
      <option value="Alaska"> Alaska </option>
      <option value="Arizona"> Arizona </option>
      <option value="Arkansas"> Arkansas </option>
      <option value="California"> California </option>
      <option value="Colorado"> Colorado </option>
      <option value="Connecticut"> Connecticut </option>
      <option value="Delaware"> Delaware </option>
      <option value="District of Columbia"> District of Columbia </option>
      <option value="Florida"> Florida </option>
      <option value="Georgia"> Georgia </option>
      <option value="Hawaii"> Hawaii </option>
      <option value="Idaho"> Idaho </option>
      <option value="Illinois"> Illinois </option>
      <option value="Indiana"> Indiana </option>
      <option value="Iowa"> Iowa </option>
      <option value="Kansas"> Kansas </option>
      <option value="Kentucky"> Kentucky </option>
      <option value="Louisiana"> Louisiana </option>
      <option value="Maine"> Maine </option>
      <option value="Maryland"> Maryland </option>
      <option value="Massachusetts"> Massachusetts </option>
      <option value="Michigan"> Michigan </option>
      <option value="Minnesota"> Minnesota </option>
      <option value="Mississippi"> Mississippi </option>
      <option value="Missouri"> Missouri </option>
      <option value="Montana"> Montana </option>
      <option value="Nebraska"> Nebraska </option>
      <option value="Nevada"> Nevada </option>
      <option value="New Hampshire"> New Hampshire </option>
      <option value="New Jersey"> New Jersey </option>
      <option value="New Mexico"> New Mexico </option>
      <option value="New York"> New York </option>
      <option value="North Carolina"> North Carolina </option>
      <option value="North Dakota"> North Dakota </option>
      <option value="Ohio"> Ohio </option>
      <option value="Oklahoma"> Oklahoma </option>
      <option value="Oregon"> Oregon </option>
      <option value="Pennsylvania"> Pennsylvania </option>
      <option value="Rhode Island"> Rhode Island </option>
      <option value="South Carolina"> South Carolina </option>
      <option value="South Dakota"> South Dakota </option>
      <option value="Tennessee"> Tennessee </option>
      <option value="Texas"> Texas </option>
      <option value="Utah"> Utah </option>
      <option value="Vermont"> Vermont </option>
      <option value="Virginia"> Virginia </option>
      <option value="Washington"> Washington </option>
      <option value="West Virginia"> West Virginia </option>
      <option value="Wisconsin"> Wisconsin </option>
      <option value="Wyoming"> Wyoming </option>
   </select>
  </div>
  <div class="phonenumber">
      <input type="text" id="input_18" name="q18_phone" data-type="input-textbox"aria-label="Phone Number" class="form-control validate[required]" size="20" value="" placeholder="Phone Number " data-component="textbox" required="" />
  </div> 
     
<div class="arrival">
<input type="text" id="input_8" name="q13_arrivalDate" aria-label="arrival" class="form-control"  value="" placeholder="Arrival Date  " data-component="textbox" />
</div>
<div class="departure">
<input type="text" id="input_9" name="q14_departureDate" aria-label="departure" class="form-control" value="" placeholder="Departure Date  " data-component="textbox" />
</div>

<div class="space text-left  p-4 pl-3">
    Are Dates Flexible? :
    Yes  &nbsp; <input type="radio" class="form-radio" id="input_11_0" aria-label="space-yes" name="q11_Do" value="Yes" />
    No  &nbsp;  <input type="radio" class="form-radio" id="input_11_1" name="q11_Do"  aria-label="space-no" value="No" />
  </div>

<div class="event-name">
    <input type="text" id="input_12"  name="q12_eventName" aria-label="event- name" class="form-control"  value="" placeholder="Event Name " data-component="textbox" />
  </div>



<div class="rooms-per-night">
    <input type="text" id="input_10"  name="q17_numberOf17"  data-type="input-textbox" class="form-control"  value="" placeholder="Number of Guest Rooms Required " aria-label="Number of Guest Rooms Required" />
  </div>
  
<div class="number-of-att">
 <input type="text" id="input_17" name="q16_numberOf" aria-label="NUMBER OF ATTENDEES:" class="form-control"  value="" placeholder="Number of atendees" data-component="textbox" />
</div>

<div class="btn btn-holder">
    <button type="submit" class="btn btn-blue" aria-label="Submit" id="input_2">Submit  <i class="fa fa-angle-right"></i></button>
 </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ 72533234482454 }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ 72533234482454 }}-{{ 72533234482454 }}";
    </script>
</form>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
