<form action="https://submit.jotform.me/submit/{{ 63191242196455 }}/" method="post" name="form_{{ 63191242196455 }}" id="{{ 63191242196455 }}"
    accept-charset="utf-8" autocomplete="off">
    <input type="hidden" name="formID" value="{{63191242196455 }}">
    <div class="first-name">
    <input type="text" id="input_3" name="q3_firstName" data-type="input-textbox" class="form-control validate[required]"  value="" placeholder="First Name * " aria-label="Firsts" required="" />
  </div>
  <div class="last-name">
    <input type="text" id="input_4" name="q4_lastName" data-type="input-textbox" class="form-control validate[required]" value="" placeholder="Last Name * " aria-label="Last Name" required="" />
  </div>

    <div class="email">
    <input type="email" type="email" id="input_6" name="q6_email6" aria-label="Email" placeholder="Email *" class="form-control" required>
  </div>


  <div class="company">
     <input type="text" id="input_5" name="q5_company" aria-label="company" class="form-control"  value="" placeholder="Company *" data-component="textbox" required />
  </div>

  <div class="clearfix"></div>
<h3 >Guest Rooms</h3>
<div class="organiz text-left pb-4">
Guest Rooms Needed? *
 : &nbsp; Yes <input type="radio" class="form-radio validate[required]" id="input_7_0" aria-label="Yes" name="q7_guestRooms7" value="Yes" required="" aria-label="Yes" />
&nbsp; No &nbsp; <input type="radio" class="form-radio validate[required]" id="input_7_1"  name="q7_guestRooms7" value="No" required="" aria-label="No" />
</div>

<div class="arrival">
<input type="text" id="input_8" name="q8_Arrival" aria-label="arrival" class="form-control"  value="" placeholder="Arrival Date  " data-component="textbox" />
</div>
<div class="departure">
<input type="text" id="input_9" name="q9_Departure" aria-label="departure" class="form-control" value="" placeholder="Departure Date  " data-component="textbox" />
</div>


<div class="rooms-per-night">
  <input type="text" id="input_10" name="q10_numberOf" data-type="input-textbox" class="form-control"  value="" placeholder="Number of Rooms per Night " aria-label="Number of Rooms per Night" />
</div>

<div class="space text-left  pt-4">
  Do you require meeting space? :
  Yes  &nbsp; <input type="radio" class="form-radio" id="input_11_0" aria-label="space-yes" name="q11_Do" value="Yes" />
  No  &nbsp;  <input type="radio" class="form-radio" id="input_11_1" name="q11_Do"  aria-label="space-no" value="No" />
</div>
<div class="type-of-meeting ">
<input type="text" id="input_12" name="q12_What" aria-label="WHAT TYPE OF MEETING?" class="form-control"  value="" placeholder="What type of meeting?" data-component="textbox" />
</div>
<div class="type">
  <select class="form-control" id="input_14" name="q14_type" aria-label="type" data-component="dropdown">
   <option value="">--Select Type --  </option>
   <option value="Corporate"> Corporate </option>
   <option value="Social"> Social </option>
  </select>
</div>
<div class="event-name">
  <input type="text" id="input_16" name="q16_Event" aria-label="event- name" class="form-control"  value="" placeholder="Event Name " data-component="textbox" />
</div>
<div class="number-of-att">
 <input type="text" id="input_17" name="q17_Number" aria-label="NUMBER OF ATTENDEES:" class="form-control"  value="" placeholder="Number of atendees" data-component="textbox" />
</div>

<div class="type">
  <select class="form-control" id="input_18" name="q18_Type"  aria-label="type" data-component="dropdown">
   <option value="">-- Type of Event --  </option>
   <option value="Meeting"> Meeting </option>
   <option value="Corporate"> Corporate </option>
   <option value="Leisure"> Leisure </option>
   <option value="Other"> Other </option>
  </select>
</div>

<div class="phonenumber">
<input type="tel" id="input_15" name="q15_phone"   aria-label="Phone Number" class="form-control" placeholder="Phone Number *" required>
</div>
<div class="type-of-meeting  text-left  pt-4">
  You Require a General Meeting Room?
Yes  <input type="radio" class="form-radio" aria-label="yes" id="input_19_0"  aria-label="meeting-yes" name="q19_Do19" value="Yes" />
No  <input type="radio" class="form-radio" id="input_19_1" aria-label="No" name="q19_Do19" aria-label="meeting-no" value="No" />
</div>
<div class="type">
  <select class="form-control" id="input_20" name="q20_Setup" aria-label="Set-up Type" data-component="dropdown">
              <option value="">--Set-up Type-- </option>
              <option value="Classroom"> Classroom </option>
              <option value="Conference"> Conference </option>
              <option value="Theater"> Theater </option>
              <option value="Rounds"> Rounds </option>
              <option value="Cocktail"> Cocktail </option>
            </select>
</div>

<div class="message">
<textarea id="input_13" class="form-control" name="q13_Comments" aria-label="Comments" cols="40" rows="6" placeholder="Comments" data-component="textarea"></textarea>
</div>
<div class="btn">
<div class="btn-holder">
    <button type="submit" id="input_2" >SEND <i class="fa fa-angle-right"></i></button>
  </div>  </div>
    <input type="hidden" id="simple_spc" name="simple_spc" value="{{ 63191242196455 }}">

    <script type="text/javascript">
        document.getElementById("si" + "mple" + "_spc").value = "{{ 63191242196455 }}-{{ 63191242196455 }}";
    </script>
</form>
<script type="text/javascript">
    JotForm.ownerView = true;
</script>
